<div class="jumbotron">
    <h1>BattleCats In The Cloud</h1>
    <p class="lead">ASP.NET is a free web framework for building great WEB SITES and Web applications using HTML, CSS, and JavaScript.</p>
    <p>Gary Isnt as stupid as he looks....or is he?</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>We offer a wide variety of business software to keep your organization running smoothly. Our attention to detail and commitment to exceeding
        expectations, helps us provide the best possible options for you business.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who we are</h2>
        <p>The staff at BattleCats are a diverse and dedicated group of professionals. Let their skills and drive work for you by exceeding 
        your expectations of quality, efficiency, and dependability.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Support</h2>
        <p>Dont forget ongoing support after your purchase. We at BattleCats pride ourselves in supporting all technical and non technical concerns
        that come with the implementation of your software. You may contact us 24 hrs a day, 7 days a week for support on every piece of software we provide.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
